{% extends 'base.html' %} {% block content %}
{% load static %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<link rel="stylesheet" href="{% static 'blogapp/blog_detail.css' %}">

<section class="cardContainer">
  <nav class="">
    <img src="{{ blog.image }}" alt="" class="imageCon">
  </nav>

  <nav class="contentCon">
  <p class="date1">{{ blog.last_update | timesince }}</p>
    <div>
      <h3 class="contentTitle">{{blog.title}}</h3>
      <p class="category">{{ blog.category }}</p>
      <p class="contentBody">{{ blog.content }}</p>
    </div>

    <div class="userContent">
      <img src="https://images.unsplash.com/photo-1578941838877-141265f3a898?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHdyaXRlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="user_image">
      <p class="userName">{{ blog.user }}</p>
    </div>

    <article class="icons">
      <p><i class="fa-regular fa-comment"></i> <small>{{ blog.comments.all|length }}</small></p>
            
      <p><i class="fa-solid fa-eye"></i> <small>{{ blog.get_view_count }}</small></p> 
      <p><i class="fa-regular fa-heart"></i><a href="{% url 'post_like' blog.slug %}">{{ likeCount.count }}</a></p> 
    </article>

    <div class="buttons">
      <a href="{% url 'update' blog.slug %}" class="updateButton">Update</a>
      <a href="{% url 'delete' blog.slug %}" class="deleteButton">Delete</a>
    </div>
  </nav>

</section>


<form action="." method="post" class="commnetForm">
  {% csrf_token %} {{ form.as_p }}
  <div class="">
    <div class="">
      <input type="submit" value="Submit" class="submitButton"/>
    </div>
  </div>
</form>

<div class="commentsBody">
  <div>
    <!-- buradaki comments related_name den geliyor -->
    <h3>Commnets</h3>
    <ol class="list">
    {% for comment in blog.comments.all %}
      <li class="item">
          <h2 class="headline">{{ comment.user }} <span>{{ comment.date_added | timesince }}</span></h2>
          <span>{{ comment.body }}</span> 
      </li>
    {% endfor %}
    </ol>
  </div>
</div>

{% endblock %}
