{% extends 'base.html' %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<style>
  .cardContainer{
    display:flex;
    justify-content:space-around;
    width: 70%;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
    padding:1rem;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
  }

  .imageCon{
    width: 20rem;
    height:20rem;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
  }

  .contentCon{
    width: 50%
  }

  .userContent{
    display:flex;
        width: 60%;
    height: 60px;
    margin-left: 10px;

  }

  .userContent img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }

  .userName{
    font-size: 20px;
    color: #3b3c3f;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;

  }

    .icons{
    display: flex;
    justify-content:space-around;
    margin-top:1rem;
  }

  .category{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);

    padding: 0 0.5rem;
    margin: 5px 2rem;
    width:5rem;
    border-radius: 1rem;
  }

  .icons>*{
    cursor: pointer;
  }

  .commnetForm{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width: 70%;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
    padding:1rem;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
  }

  .submitButton{
    color:white;
    margin-left:2rem;
    border-radius: 10px;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border:none;
    padding:0.5rem;
    cursor: pointer;
  }

  .commentsCon{
    display:flex;
    justify-content:space-evenly;
    width: 70%;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
    padding:1rem;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}
  
  .buttons{
    display:flex;
    justify-content:space-between;
  }

/* delete button */

  .cardContainer .deleteButton {
    background-image: linear-gradient(
      to right,
      #c04848 0%,
      #480048 51%,
      #c04848 100%
    );

    padding: 0.3rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .cardContainer .deleteButton:hover {
    background-position: right center;

    color: #fff;
    text-decoration: none;
  }

  /* update button */
  .cardContainer .updateButton {
    background-image: linear-gradient(
      to right,
      #f85032 0%,
      #e73827 51%,
      #f85032 100%
    );
    padding: 0.3rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
</style>

{% comment %} <div class="detailsContainer">
  <div class="cardContainer">
    <div class="card__header">
      <img
        src="{{ blog.image.url }}"
        alt="card__image"
        class="card__image"
        width="600"
      />
    </div>
    <div class="card__body">
      <span class="tag tag-blue">{{ blog.category }}</span>
      <h4>{{blog.title}}</h4>
      <p>{{ blog.content }}</p>
    </div>
    <div class="card__footer">
      <div class="user">
        <img
          src="{{ request.profile_pic }}"
          alt="user__image"
          class="user__image"
        />
        <div class="user__info">
          <h5>{{ request.user }}</h5>
          <small>{{ blog.last_date}}</small>
          <div>{{ request.user.profile_pic}}</div>
        </div>
      </div>

      <article>
        <span><i class="fa-regular fa-comment"></i></span> <small>{{ blog.comments.all|length }}</small>
        <span><i class="fa-solid fa-eye"></i></span> <small>{{ request.count }}</small>
        <span><i class="fa-regular fa-heart"></i></span> <small>1</small>
      </article>

      <div class="buttons">
        <a href="{% url 'update' blog.slug %}" class="updateButton">Update</a>
        <a href="{% url 'delete' blog.slug %}" class="deleteButton">Delete</a>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<section class="cardContainer">
  <nav class="">
    <img src="{{ blog.image.url }}" alt="" class="imageCon">
  </nav>

  <nav class="contentCon">
    <div>
      <h3 class="contentTitle">{{blog.title}}</h3>
      <p class="category">{{ blog.category }}</p>
      <p class="contentBody">{{ blog.content }}</p>
    </div>

    <div class="userContent">
      <img src="https://assets.codepen.io/2642098/internal/avatars/users/default.png?format=auto&height=80&version=1543776877&width=80" alt="user_image">
      <p class="userName">userName</p>
    </div>

    <article class="icons">
      <p><i class="fa-regular fa-comment"></i> <small>{{ blog.comments.all|length }}</small></p>
            
      <p><i class="fa-solid fa-eye"></i> <small>1</small></p> 
      <p><i class="fa-regular fa-heart"></i> <small>1</small></p> 
    </article>

    <div class="buttons">
      <a href="{% url 'update' blog.slug %}" class="updateButton">Update</a>
      <a href="{% url 'delete' blog.slug %}" class="deleteButton">Delete</a>
    </div>
  </nav>

</section>


<form action="." method="post" class="commnetForm">
  {% csrf_token %} {{ form.as_p }}
  <div class="">
    <div class="">
      <input type="submit" value="Submit" class="submitButton"/>
    </div>
  </div>
</form>

<div class="commentsCon">
  <div>
    <h3>Commnets</h3>
    <!-- buradaki comments related_name den geliyor -->
    {% for comment in blog.comments.all %}
    <ul>
      <li>
          <span>{{ comment.body }}</span>
          <span>{{ comment.date_added | date:"F Y" }}</span>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>

{% endblock %}
