{% extends 'base.html' %} {% block content %} 
{% load static %}


<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="{% static 'blogapp/blog_list.css' %}">
<main class="main1">
  {% for blog in blog_list %}
  <section class="card1">
      <img class="post-image1" src="{{ blog.image }}" />

      <div class="post-content1">
        <h1 class="post-header1">{{blog.title | title}}</h1>
        <p class="category">{{ blog.category }}</p>
        <p class="post-text1">{{ blog.content|slice:120}}... <a href="{% url 'detail' blog.slug %}" class="readmore">Read More</a></p>
        
        <div class="author1">
          <img
            src="{{ user.avatar }}"
            alt=""
            class="author-image1"
          />
          <div class="author-content1">
            <p class="author-name1">{{ blog.user }}</p>
            <p class="date1">{{ blog.last_update | timesince }}</p>
          </div>
        </div>

          <article class="icons">
            <p><i class="fa-regular fa-comment"></i> <small>{{ blog.comments.all|length }}</small></p>
            
            <p><i class="fa-solid fa-eye"></i> <small>{{ blog.get_view_count }}</small></p> 
            <p><i class="fa-regular fa-heart"></i> <small>0</small></p> 
          </article>
      </div>



  </section> 
  {% endfor %}
    
</main>

{% endblock %}
