*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .alert{
    width: auto;
    text-align: center;
    margin: 0 20px;
  }

  .blogWarning{
    color: gray;
    font-size: 15px;
    margin-top: 1rem;
  }
