{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<style>
form {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #f7f7f7;
  }
  form h1 {
    background: #9385D3;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
  }
  form input[type="text"],
  form input[type="date"],
  form input[type="datetime"],
  form input[type="email"],
  form input[type="number"],
  form input[type="search"],
  form input[type="time"],
  form input[type="url"],
  form input[type="image"],
  form input[type="password"],
  form input,
  .password,
  #id_phone_number,
  form textarea,
  form select {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
  }
  form input[type="text"]:focus,
  form input[type="date"]:focus,
  form input[type="datetime"]:focus,
  form input[type="email"]:focus,
  form input[type="number"]:focus,
  form input[type="search"]:focus,
  form input[type="time"]:focus,
  form input[type="url"]:focus,
  form input[type="image"]:focus,
  form input[type="password"]:focus,
  .password:focus,
  #id_phone_number:focus,
  form textarea:focus,
  form select:focus {
    box-shadow: 0 0 5px #7e43d1;
    padding: 3%;
    border: 1px solid #c843d1;
  }
  
  form input[type="submit"],
  form input[type="button"],
  .noButton {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #9457ea;
    border-bottom: 2px solid #6528ba;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
  }
  form input[type="submit"]:hover,
  form input[type="button"]:hover,
  .noButton:hover {
    background: #8e58da;
    cursor: pointer;
  }
</style>
<div class="">
    <form action="{% url 'user_login' %}" method="post">
    <h1>Login Form</h1>
        {% csrf_token %} 
        {{form}}
        <input type="submit" value="Login">
    </form>
</div>
{% endblock content %}